body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.contreg{
  margin-top: 2%;
  background-color: rgb(158, 224, 255);
  padding: 2%;
border-radius: 10px 10px;
}

.error{
  color: red;
}

.login {
  margin-top: 2%;
background-color: rgb(158, 224, 255);
/* width: 40%; */
padding: 2%;
border-radius: 10px 10px;
}

.btnlogg{
  margin-top: 2%;
}